#fondo{
	.fondo{
		background-repeat: no-repeat;
		background-image: url("IMG/eva_fondo.png");
		background-position: center top;
		background-size: cover;
	}
	.responsive{
		width: 100%;
		max-width: 100%;
		margin-top: auto;
		margin-right: auto;
    	margin-bottom: auto;
    	margin-left: auto;
	}
	.white{
		color: white;
		font-weight: bolder;
		.white__titulo{
			border: 10px dashed black;
			padding: 15px;
			margin: 50px;	
			background: rgb(255,255,255);
			background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(6,62,210,1) 44%, rgba(0,0,0,1) 100%);
			font-size: 44px;
		    font-family: 'Roboto', sans-serif;
		    color: black;
		    text-transform: uppercase;
		    text-align: center;
		}
		.white__titulo:hover{
			background: rgb(0,0,0);
			background: radial-gradient(circle, rgba(0,0,0,1) 12%, rgba(210,6,6,1) 59%, rgba(0,0,0,0) 100%);
			transition: all 500ms ease-out;
			color: white;
			border: 10px dashed white;
		}	
		.white__textos{
			font-size: 18px;
			font-family: 'Lato', sans-serif;
			line-height: 1.5;
		}
		.white__descripcion{
			font-size: 24px;
			font-style: italic;
			font-family: 'Roboto', sans-serif;
			text-transform: uppercase;
		}
		.white__linksEnlaces{
			font-size: 16px;
		    font-family: 'Raleway', sans-serif;
		    padding: 5px;
			margin: 10px;
			background: rgb(31,16,202);
			background: radial-gradient(circle, rgba(31,16,202,1) 0%, rgba(253,45,45,0) 100%);
			text-align: left;
		}
		.white__linksEnlaces:hover{
			font-size: 16px;
		    font-family: 'Raleway', sans-serif;
		    padding: 5px;
			margin: 10px;
			text-align: left;
			background: rgb(0,0,0);
			background: radial-gradient(circle, rgba(0,0,0,1) 12%, rgba(210,6,6,1) 59%, rgba(0,0,0,0) 100%);
			transition: all 500ms ease-out;
			color: white;
		}
		.white__tituloNetflix{
			font-size: 20px;			
			font-family: 'Raleway', sans-serif;
			font-weight: bolder;
		}
		.white__estilos{
			font-size: 20px;
		    font-family: 'Raleway', sans-serif;
		    text-transform: uppercase;
		    border: 10px dashed black;
		    padding: 5px;
			margin: 10px;
			background: rgb(0,0,0);
			background: radial-gradient(circle, rgba(0,0,0,1) 48%, rgba(9,6,210,0) 65%, rgba(9,6,210,1) 84%);
			text-align: center;
		}
	}			
}
#historia{
	.fondo{
		background-image: url("IMG/nerv_fondo.png");
		background-size: 100%;
		background-attachment: fixed;
		background-position: center top;
		background-repeat: no-repeat;	
	}	
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}
	.white{
		color: white;
		.white__titulos{
			border: 10px dashed none;
		    padding: 5px;
			margin: 10px;
			background: rgb(0,0,0);
			background: linear-gradient(90deg, rgba(0,0,0,1) 12%, rgba(253,29,29,1) 50%, rgba(0,0,0,1) 88%);
			text-align: center;
			text-transform: uppercase;
		}
		.white__nervUno:hover{
			background: rgb(0,0,0);
			background: linear-gradient(90deg, rgba(0,0,0,1) 12%, rgba(0,31,255,1) 50%, rgba(0,0,0,1) 88%);
			transition: all 500ms ease-out;
		}
		.white__textos{
			font-size: 18px;
			font-family: 'Lato', sans-serif;
			line-height: 1.5;
			font-weight: bold;
		}
	}
}
#pilotomiembro{
	.fondo{
		background-image: url("IMG/miembros_pilotos_fondo.gif");
		background-position: center top;
		background-repeat: repeat;
		background-size: 100%;
		background-attachment: fixed;
	}
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}	
	.white{
		color: white;
		font-weight: bolder;
		font-size: 20px;
		.white__titular{
			font-size: 24px;
			font-family: 'Acme', sans-serif;
			text-align: center;
		}
		.white__fontFamily{
			font-family: 'Covered By Your Grace', cursive;
			.white__fontFamily--light{
				color: lightblue;
			}
			.white__fontFamily--dark{
				color: darkgreen;
			}
		}
		.white__text{
			text-align: center;
	    	font-family: 'Odibee Sans', cursive;
		}
	}
	p{
	color: yellow;
	}
}	
#evas{
	background-repeat: no-repeat;
	background-image: url("IMG/evasUno_fondo.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}
	.marca{
		font-weight: bolder;
		text-align: center;
		text-transform: uppercase;
		.marca__titulos{
			color: white;
			border: 10px dashed none;
		    padding: 5px;
			margin: 10px;
			background: rgb(0,0,0);
			background: linear-gradient(90deg, rgba(0,0,0,1) 12%, rgba(253,29,29,1) 50%, rgba(0,0,0,1) 88%);
		}
		.marca__blue{
			color: blue;
		}
		.marca__red{
			color: red;
		}
		.marca__white{
			color: white;
		}
	}
	.carousel{
  		position: center;
	}
}
.detalles{
	padding: 30px;
	.detalles__transition{
		transform: scale(1);
	}
	.detalles__transition:hover{
		transform: scale(1.1);
		transition: all 500ms ease-out;
	}
	.detalles__transform:hover{
		transform: scale(1.1)
	}	
}
#misato{
	.fondo{
		background-image: url("IMG/MisatoKatsugari_fondo.jpg");	
		background-size: 100%;
		background-position: center top;
		background-repeat: repeat;
	}
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}
	.white{
		color: black;
		font-size: 24px;
		font-weight: bold;
		font-family: 'Bree Serif', serif;
		.white__encabezado{
			text-align: center;
		}
		.white__textos{
			color: black;
			font-weight: bold;
			text-align: center;
		}
		.white__textos:hover{
			color: white;
			font-weight: bold;
			text-align: center;
		}
	}
	.white__encabezado:hover{
		color: white;
		font-weight: bolder;
		font-size: 26px;
		text-align: center;
	}
}
#ritsuko{
	.fondo{
		background-image: url("IMG/RitsukoAkagi_fondo.jpg");	
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
	}
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}
	.white{
		color: black;
		font-size: 24px;
		font-weight: bold;
		font-family: 'Hammersmith One', sans-serif;
		.white__encabezado{
			text-align: center;
			font-size: 24px;
		}
		.white__textos{
			color: black;
			font-weight: bold;
			text-align: center;
		}
		.white__textos:hover{
			color: yellow;
			font-weight: bold;
			text-align: center;
		}
	}
	.white__encabezado:hover{
		color: white;
		font-weight: bolder;
		font-size: 26px;
		text-align: center;
	}
}
#kaji{
	.fondo{
		background-image: url("IMG/RyojiKaji_fondo.jpg");	
		background-size: 100%;
		background-position: center top;
		background-repeat: no-repeat;
	}
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}
	.white{
		color: black;
		font-size: 24px;
		font-weight: bold;
		font-family: 'Cuprum', sans-serif;
		.white__encabezado{
			text-align: center;
			font-size: 24px;
		}
		.white__textos{
			color: black;
			font-weight: bold;
			text-align: center;
		}
		.white__textos:hover{
			color: blue;
			font-weight: bold;
			text-align: center;
		}
	}
	.white__encabezado:hover{
		color: white;
		font-weight: bolder;
		font-size: 26px;
		text-align: center;
	}
}
#gendo{
	.fondo{
		background-image: url("IMG/SEELE_fondo.jpg");
		background-attachment: fixed;	
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}
	.white{
		color: black;
		font-size: 24px;
		font-weight: bold;
		font-family: 'Frank Ruhl Libre', serif;
		.white__encabezado{
			text-align: center;
			font-size: 24px;
		}
		.white__textos{
			color: black;
			font-weight: bold;
			text-align: center;
		}
		.white__textos:hover{
			color: white;
			font-weight: bold;
			text-align: center;
		}
	}
	.white__encabezado:hover{
		color: white;
		font-weight: bolder;
		font-size: 26px;
		text-align: center;
	}
}
#rei{
	.fondo{
		background-image: url("IMG/reiAngel.jpg");	
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
	}
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}
	.white{
		color: black;
		font-size: 24px;
		font-weight: bold;
		font-family: 'Crete Round', serif;
		.white__encabezado{
			text-align: center;
		}
		.white__textos{
			color: black;
			font-weight: bold;
			text-align: center;
		}
		.white__textos:hover{
			color: lightblue;
			font-weight: bold;
			text-align: center;
		}
	}
	.white__encabezado:hover{
		color: white;
		font-weight: bolder;
		font-size: 26px;
		text-align: center;
	}
}
#asuka{
	.fondo{
		background-image: url("IMG/asukaSohryu_fondo.jpg");
		background-attachment: fixed;	
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}
	.white{
		color: black;
		font-size: 24px;
		font-weight: bold;
		font-family: 'Merriweather Sans', sans-serif;
		.white__encabezado{
			text-align: center;
		}
		.white__textos{
			color: black;
			font-weight: bold;
			text-align: center;
		}
		.white__textos:hover{
			color: red;
			font-weight: bold;
			text-align: center;
		}
	}
	.white__encabezado:hover{
		color: white;
		font-weight: bolder;
		font-size: 26px;
		text-align: center;
	}
}

#shinji{
	.fondo{
		background-image: url("IMG/ShinjiIkari_fondo.jpg");
		background-attachment: fixed;	
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}		
	.white{
		color: black;
		font-size: 24px;
		font-weight: bold;
		font-family: 'Kanit', sans-serif;
		.white__encabezado{
			text-align: center;
		}
		.white__textos{
			color: black;
			font-weight: bold;
			text-align: center;
		}
		.white__textos:hover{
			color: lightblue;
			font-weight: bold;
			text-align: center;
		}
	}
	.white__encabezado:hover{
		color: white;
		font-weight: bolder;
		font-size: 26px;
		text-align: center;
	}
	.center{
		text-align: center;
	}
}
#kaworu{
	.fondo{
		background-image: url("IMG/KaworuNagisa_fondo.jpg");
		background-attachment: fixed;	
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.responsive{
		width: 100%;
		max-width: 100%;
		margin: auto auto;
	}
	.white{
		color: black;
		font-size: 24px;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		.white__encabezado{
			text-align: center;
			font-size: 24px;
		}
		.white__textos{
			color: white;
			font-weight: bold;
			text-align: center;
		}
		.white__textos:hover{
			color: white;
			font-weight: bold;
			text-align: center;
		}
	}
	.white__encabezado:hover{
		color: white;
		font-weight: bolder;
		font-size: 26px;
		text-align: center;
	}
}
#angeles{
	.fondo{
		background-image: url("IMG/reiAngel_Dos.jpg");
		background-size: 100%;
		background-position: center top;
		background-repeat: repeat;	
	}
	.responsive{
		width: 100%;
		max-width: auto;
		margin: auto auto;
	}
	.angel{
		color: black;
		text-align: left;
		line-height: 1.5;
		.angel__tit{
			font-weight: bold;
			font-family: 'Bree Serif', serif;
			margin: 20px;
			font-size: 26px;
		}
		.angel__titulo{
			border: 10px dashed black;
			padding: 15px;
			margin: 50px;	
			font-size: 44px;
		    text-transform: uppercase;
		    text-align: center;
		    background: rgb(0,0,0);
			background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%);
		}
		.angel__titulo:hover{
			transition: all 500ms ease-out;
			color: white;
			border: 10px dashed white;
			background: rgb(0,0,0);
			background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 100%);
		}
		.angel__text{
			margin: 40px;
			font-size: 18px;
			text-align: left;
			font-family: 'Nanum Gothic', sans-serif;
		}
		.angel__descrip{
			color: white;
		    text-transform: uppercase;
		    text-align: center;
			font-size: 24px;
			margin: 40px;
			text-align: left;
			font-weight: bold;
			font-family: 'Shadows Into Light', cursive;
		}
		.flex{
			display: flex;
			padding: 15%;
			flex-direction: columns; 
			.flex div{
				width: 10%;
				margin: 10%;
			}
		}
		.grid{
			display: grid; 
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			grid-column-gap: 10px;
			grid-row-gap: 10px;
			justify-content: stretch;
			align-content: stretch;
		}		
		.center{
			text-align: center;
		}
	}
}
img{
	height: 200px;
	width: 300px;
}
.inicio{
	font-size: 20px;
    color: lightblue;
    padding: 5px;
	margin: 10px;
	text-align: right;
	text-transform: uppercase;
}
.inicio:hover{
    color: white;
    padding: 5px;
	margin: 10px;
	text-align: right;
	text-transform: uppercase;
	border: 10px dashed white;
}
a{
	font-size: 20px;
    color: white;
    padding: 5px;
	margin: 10px;
	text-align: right;
	text-transform: uppercase;
}
a:hover{
	font-size: 24px;
    color: white;
    padding: 5px;
	margin: 10px;
	text-align: right;
	text-transform: uppercase;
}
@media all and (min-width: 300px){
	.white__text{
		color: red;
	}
}
@media all and (min-width: 600px){
	.white__text{
		color: yellow;
	}
}