#fondo .fondo {
  background-repeat: no-repeat;
  background-image: url("IMG/eva_fondo.png");
  background-position: center top;
  background-size: 100%;
  background-attachment: fixed;
}

#fondo .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#fondo .white {
  color: white;
  font-weight: bolder;
}

#fondo .white .white__titulo {
  border: 10px dashed black;
  padding: 15px;
  margin: 50px;
  background: white;
  background: radial-gradient(circle, white 0%, #063ed2 44%, black 100%);
  font-size: 44px;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

#fondo .white .white__titulo:hover {
  background: black;
  background: radial-gradient(circle, black 12%, #d20606 59%, rgba(0, 0, 0, 0) 100%);
  transition: all 500ms ease-out;
  color: white;
  border: 10px dashed white;
}

#fondo .white .white__textos {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

#fondo .white .white__descripcion {
  font-size: 24px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

#fondo .white .white__linksEnlaces {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  margin: 10px;
  background: #1f10ca;
  background: radial-gradient(circle, #1f10ca 0%, rgba(253, 45, 45, 0) 100%);
  text-align: left;
}

#fondo .white .white__linksEnlaces:hover {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  margin: 10px;
  text-align: left;
  background: black;
  background: radial-gradient(circle, black 12%, #d20606 59%, rgba(0, 0, 0, 0) 100%);
  transition: all 500ms ease-out;
  color: white;
}

#fondo .white .white__tituloNetflix {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

#fondo .white .white__estilos {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  border: 10px dashed black;
  padding: 5px;
  margin: 10px;
  background: black;
  background: radial-gradient(circle, black 48%, rgba(9, 6, 210, 0) 65%, #0906d2 84%);
  text-align: center;
}

#historia .fondo {
  background-image: url("IMG/nerv_fondo.png");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#historia .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#historia .white {
  color: white;
}

#historia .white .white__titulos {
  border: 10px dashed none;
  padding: 5px;
  margin: 10px;
  background: black;
  background: linear-gradient(90deg, black 12%, #fd1d1d 50%, black 88%);
  text-align: center;
  text-transform: uppercase;
}

#historia .white .white__nervUno:hover {
  background: black;
  background: linear-gradient(90deg, black 12%, #001fff 50%, black 88%);
  transition: all 500ms ease-out;
}

#historia .white .white__textos {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

#pilotomiembro .fondo {
  background-image: url("IMG/miembros_pilotos_fondo.gif");
  background-position: center top;
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#pilotomiembro .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#pilotomiembro .white {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

#pilotomiembro .white .white__titular {
  font-size: 24px;
  font-family: 'Acme', sans-serif;
}

#pilotomiembro .white .white__fontFamily {
  font-family: 'Covered By Your Grace', cursive;
}

#pilotomiembro .white .white__fontFamily .white__fontFamily--light {
  color: lightblue;
}

#pilotomiembro .white .white__fontFamily .white__fontFamily--dark {
  color: darkgreen;
}

#pilotomiembro .white .white__text {
  text-align: center;
  font-family: 'Odibee Sans', cursive;
}

#pilotomiembro .grid {
  display: grid;
  grid-template-areas: "alfa miembros echo" "bravo miembrosUno foxtrot" "charlie miembrosDos golf" "delta miembrosTres hotel" "tituloF tituloF tituloF" "alfaUno pilotos deltaUno" "bravoUno pilotosUno echoUno" "charlieUno pilotosDos foxtrotUno" "golfUno pilotosTres hotelUno";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: stretch;
  align-content: stretch;
}

#pilotomiembro .alfa {
  grid-area: alfa;
  justify-items: flex-end;
}

#pilotomiembro .bravo {
  grid-area: bravo;
  justify-items: flex-end;
}

#pilotomiembro .charlie {
  grid-area: charlie;
  justify-items: flex-end;
}

#pilotomiembro .delta {
  grid-area: delta;
  justify-items: flex-end;
}

#pilotomiembro .miembros {
  grid-area: miembros;
  justify-items: flex-center;
}

#pilotomiembro .miembrosUno {
  grid-area: miembrosUno;
  justify-items: flex-center;
}

#pilotomiembro .miembrosDos {
  grid-area: miembrosDos;
  justify-items: flex-center;
}

#pilotomiembro .miembrosTres {
  grid-area: miembrosTres;
  justify-items: flex-center;
}

#pilotomiembro .echo {
  grid-area: echo;
  justify-items: flex-start;
}

#pilotomiembro .foxtrot {
  grid-area: foxtrot;
  justify-items: flex-start;
}

#pilotomiembro .golf {
  grid-area: golf;
  justify-items: flex-start;
}

#pilotomiembro .hotel {
  grid-area: hotel;
  justify-items: flex-start;
}

#pilotomiembro .tituloF {
  grid-area: tituloF;
  justify-seld: center;
}

#pilotomiembro .alfaUno {
  grid-area: alfaUno;
  justify-items: flex-end;
}

#pilotomiembro .bravoUno {
  grid-area: bravoUno;
  justify-items: flex-end;
}

#pilotomiembro .charlieUno {
  grid-area: charlieUno;
  justify-items: flex-end;
}

#pilotomiembro .golfUno {
  grid-area: golfUno;
  justify-items: flex-end;
}

#pilotomiembro .pilotos {
  grid-area: pilotos;
  justify-items: flex-center;
}

#pilotomiembro .pilotosUno {
  grid-area: pilotosUno;
  justify-items: flex-center;
}

#pilotomiembro .pilotosDos {
  grid-area: pilotosDos;
  justify-items: flex-center;
}

#pilotomiembro .pilotosTres {
  grid-area: pilotosTres;
  justify-items: flex-center;
}

#pilotomiembro .deltaUno {
  grid-area: deltaUno;
  justify-items: flex-start;
}

#pilotomiembro .echoUno {
  grid-area: echoUno;
  justify-items: flex-start;
}

#pilotomiembro .foxtrotUno {
  grid-area: foxtrotUno;
  justify-items: flex-start;
}

#pilotomiembro .hotelUno {
  grid-area: hotelUno;
  justify-items: flex-start;
}

#evas {
  background-repeat: no-repeat;
  background-image: url("IMG/evasUno_fondo.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
}

#evas .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#evas .marca {
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}

#evas .marca .marca__titulos {
  color: white;
  border: 10px dashed none;
  padding: 5px;
  margin: 10px;
  background: black;
  background: linear-gradient(90deg, black 12%, #fd1d1d 50%, black 88%);
}

#evas .marca .marca__blue {
  color: blue;
}

#evas .marca .marca__red {
  color: red;
}

#evas .marca .marca__white {
  color: white;
}

#evas .carousel {
  position: center;
}

.detalles {
  padding: 30px;
}

.detalles .detalles__transition {
  transform: scale(1);
}

.detalles .detalles__transition:hover {
  transform: scale(1.1);
  transition: all 500ms ease-out;
}

.detalles .detalles__transform:hover {
  transform: scale(1.1);
}

#misato .fondo {
  background-image: url("IMG/MisatoKatsugari_fondo.jpg");
  background-size: 100%;
  background-position: center top;
  background-repeat: repeat;
}

#misato .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#misato .white {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Bree Serif', serif;
}

#misato .white .white__encabezado {
  text-align: center;
}

#misato .white .white__textos {
  color: black;
  font-weight: bold;
  text-align: center;
}

#misato .white .white__textos:hover {
  color: white;
  font-weight: bold;
  text-align: center;
}

#misato .white__encabezado:hover {
  color: white;
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
}

#ritsuko .fondo {
  background-image: url("IMG/RitsukoAkagi_fondo.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#ritsuko .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#ritsuko .white {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Hammersmith One', sans-serif;
}

#ritsuko .white .white__encabezado {
  text-align: center;
  font-size: 24px;
}

#ritsuko .white .white__textos {
  color: black;
  font-weight: bold;
  text-align: center;
}

#ritsuko .white .white__textos:hover {
  color: yellow;
  font-weight: bold;
  text-align: center;
}

#ritsuko .white__encabezado:hover {
  color: white;
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
}

#kaji .fondo {
  background-image: url("IMG/RyojiKaji_fondo.jpg");
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

#kaji .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#kaji .white {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Cuprum', sans-serif;
}

#kaji .white .white__encabezado {
  text-align: center;
  font-size: 24px;
}

#kaji .white .white__textos {
  color: black;
  font-weight: bold;
  text-align: center;
}

#kaji .white .white__textos:hover {
  color: blue;
  font-weight: bold;
  text-align: center;
}

#kaji .white__encabezado:hover {
  color: white;
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
}

#gendo .fondo {
  background-image: url("IMG/SEELE_fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#gendo .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#gendo .white {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Frank Ruhl Libre', serif;
}

#gendo .white .white__encabezado {
  text-align: center;
  font-size: 24px;
}

#gendo .white .white__textos {
  color: black;
  font-weight: bold;
  text-align: center;
}

#gendo .white .white__textos:hover {
  color: white;
  font-weight: bold;
  text-align: center;
}

#gendo .white__encabezado:hover {
  color: white;
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
}

#rei .fondo {
  background-image: url("IMG/reiAngel.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#rei .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#rei .white {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Crete Round', serif;
}

#rei .white .white__encabezado {
  text-align: center;
}

#rei .white .white__textos {
  color: black;
  font-weight: bold;
  text-align: center;
}

#rei .white .white__textos:hover {
  color: lightblue;
  font-weight: bold;
  text-align: center;
}

#rei .white__encabezado:hover {
  color: white;
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
}

#asuka .fondo {
  background-image: url("IMG/asukaSohryu_fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#asuka .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#asuka .white {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
}

#asuka .white .white__encabezado {
  text-align: center;
}

#asuka .white .white__textos {
  color: black;
  font-weight: bold;
  text-align: center;
}

#asuka .white .white__textos:hover {
  color: red;
  font-weight: bold;
  text-align: center;
}

#asuka .white__encabezado:hover {
  color: white;
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
}

#shinji .fondo {
  background-image: url("IMG/ShinjiIkari_fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#shinji .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#shinji .white {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
}

#shinji .white .white__encabezado {
  text-align: center;
}

#shinji .white .white__textos {
  color: black;
  font-weight: bold;
  text-align: center;
}

#shinji .white .white__textos:hover {
  color: lightblue;
  font-weight: bold;
  text-align: center;
}

#shinji .white__encabezado:hover {
  color: white;
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
}

#shinji .center {
  text-align: center;
}

#kaworu .fondo {
  background-image: url("IMG/KaworuNagisa_fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#kaworu .responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

#kaworu .white {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#kaworu .white .white__encabezado {
  text-align: center;
  font-size: 24px;
}

#kaworu .white .white__textos {
  color: white;
  font-weight: bold;
  text-align: center;
}

#kaworu .white .white__textos:hover {
  color: white;
  font-weight: bold;
  text-align: center;
}

#kaworu .white__encabezado:hover {
  color: white;
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
}

#angeles .fondo {
  background-image: url("IMG/reiAngel_Dos.jpg");
  background-size: 100%;
  background-position: center top;
  background-repeat: repeat;
}

#angeles .responsive {
  width: 100%;
  max-width: auto;
  margin: auto auto;
}

#angeles .angel {
  color: black;
  text-align: left;
  line-height: 1.5;
}

#angeles .angel .angel__tit {
  font-weight: bold;
  font-family: 'Bree Serif', serif;
  margin: 20px;
  font-size: 26px;
}

#angeles .angel .angel__titulo {
  border: 10px dashed black;
  padding: 15px;
  margin: 50px;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, white 50%);
}

#angeles .angel .angel__titulo:hover {
  transition: all 500ms ease-out;
  color: white;
  border: 10px dashed white;
  background: black;
  background: linear-gradient(90deg, black 50%, rgba(255, 255, 255, 0) 100%);
}

#angeles .angel .angel__text {
  margin: 40px;
  font-size: 18px;
  text-align: left;
  font-family: 'Nanum Gothic', sans-serif;
}

#angeles .angel .angel__descrip {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin: 40px;
  text-align: left;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;
}

#angeles .angel .grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: stretch;
  align-content: stretch;
}

#angeles .angel .center {
  text-align: center;
}

img {
  height: 200px;
  width: 300px;
}

.inicio {
  font-size: 20px;
  color: lightblue;
  padding: 5px;
  margin: 10px;
  text-align: right;
  text-transform: uppercase;
}

.inicio:hover {
  color: white;
  padding: 5px;
  margin: 10px;
  text-align: right;
  text-transform: uppercase;
  border: 10px dashed white;
}

a {
  font-size: 20px;
  color: white;
  padding: 5px;
  margin: 10px;
  text-align: right;
  text-transform: uppercase;
}

a:hover {
  font-size: 24px;
  color: white;
  padding: 5px;
  margin: 10px;
  text-align: right;
  text-transform: uppercase;
}

@media all and (min-width: 300px) {
  .white__text {
    color: red;
  }
}

@media all and (min-width: 600px) {
  .white__text {
    color: yellow;
  }
}
