#principal .fondo {
  background-repeat: no-repeat;
  background-image: url("IMG/eva_fondo.png");
  background-position: center top;
  background-size: cover;
}

#principal .padre {
  color: white;
  font-weight: bolder;
}

#principal .padre .padre__titulo {
  border: 10px dashed black;
  padding: 10px;
  margin: 6%;
  background: white;
  background: radial-gradient(circle, white 0%, #063ed2 44%, black 100%);
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

#principal .padre .padre__titulo:hover {
  background: black;
  background: radial-gradient(circle, black 12%, #d20606 59%, rgba(0, 0, 0, 0) 100%);
  transition: all 500ms ease-out;
  color: white;
  border: 10px dashed white;
}

#principal .padre .padre__textos {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

#principal .padre .padre__descripcion {
  font-size: 24px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

#principal .padre .padre__linksEnlaces {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  margin: 10px;
  background: #1f10ca;
  background: radial-gradient(circle, #1f10ca 0%, rgba(253, 45, 45, 0) 100%);
  text-align: center;
  color: white;
}

#principal .padre .padre__linksEnlaces:hover {
  background: black;
  background: radial-gradient(circle, black 12%, #d20606 59%, rgba(0, 0, 0, 0) 100%);
  transition: all 500ms ease-out;
}

#principal .padre .padre__tituloNetflix {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  text-align: center;
}

#principal .padre .padre__estilos {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  border: 10px dashed black;
  padding: 5px;
  margin: 10px;
  background: black;
  background: radial-gradient(circle, black 48%, rgba(9, 6, 210, 0) 65%, #0906d2 84%);
  text-align: center;
}

#principal .imagen {
  height: 35%;
  width: 270px;
}

#historia .fondo {
  background-image: url("IMG/nerv_fondo.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
}

#historia .padre {
  color: white;
}

#historia .padre .padre__titulos {
  border: 10px dashed none;
  padding: 5px;
  margin: 10px;
  background: black;
  background: linear-gradient(90deg, black 12%, #fd1d1d 50%, black 88%);
  text-align: center;
  text-transform: uppercase;
}

#historia .padre .padre__nervUno:hover {
  background: black;
  background: linear-gradient(90deg, black 12%, #001fff 50%, black 88%);
  transition: all 500ms ease-out;
}

#historia .padre .padre__textos {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

#pilotomiembro .fondo {
  background-image: url("IMG/miembros_pilotos_fondo.gif");
  background-position: center top;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

#pilotomiembro .padre {
  color: white;
  font-size: 20px;
}

#pilotomiembro .padre .padre__titular {
  font-size: 24px;
  font-family: 'Acme', sans-serif;
  text-align: center;
}

#pilotomiembro .padre .padre__fontFamily {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

#pilotomiembro .padre .padre__fontFamily .padre__fontFamily--light {
  color: lightblue;
  text-align: center;
}

#pilotomiembro .padre .padre__fontFamily .padre__fontFamily--dark {
  color: darkgreen;
  text-align: center;
}

#pilotomiembro .padre .padre__text {
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  color: yellow;
}

#evas .fondo {
  background-repeat: no-repeat;
  background-image: url("IMG/evasUno_fondo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#evas .padre {
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  padding: 1px;
  margin: 1px;
}

#evas .padre .padre__titulos {
  color: white;
  border: 10px dashed none;
  padding: 1px;
  margin: 1px;
  background: black;
  background: linear-gradient(90deg, black 12%, #fd1d1d 50%, black 88%);
}

#evas .padre .padre__titulos:hover {
  background: black;
  background: linear-gradient(90deg, black 12%, #001fff 50%, black 88%);
  transition: all 500ms ease-out;
}

#evas .padre .padre__blue {
  color: blue;
}

#evas .padre .padre__red {
  color: red;
}

#evas .padre .padre__white {
  color: white;
}

#evas .carousel {
  position: center;
}

#evas .img {
  height: 10%;
  width: 80%;
}

#evas img {
  margin: 1%;
}

#angeles .fondo {
  background-image: url("IMG/reiAngel_Dos.jpg");
  background-size: 100%;
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
}

#angeles .padre {
  color: black;
  text-align: center;
  line-height: 1.5;
}

#angeles .padre .padre__tit {
  font-weight: bold;
  font-family: 'Bree Serif', serif;
  margin: 20px;
  font-size: 26px;
}

#angeles .padre .padre__titulo {
  border: 10px dashed black;
  padding: 10px;
  margin: 6%;
  font-size: 34px;
  text-transform: uppercase;
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, white 50%);
}

#angeles .padre .padre__titulo:hover {
  transition: all 500ms ease-out;
  color: white;
  border: 10px dashed white;
  background: black;
  background: linear-gradient(90deg, black 50%, rgba(255, 255, 255, 0) 100%);
}

#angeles .padre .padre__text {
  margin: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
}

#angeles .padre .padre__descrip {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  margin: 40px;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;
}

#angeles .padre .padre__left {
  text-align: left;
}

.neon p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  text-align: center;
}

.neon .neon__titulos {
  font-size: 24px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  border: 10px dashed black;
  padding: 5px;
  margin: 10px;
  background: black;
  background: radial-gradient(circle, black 48%, rgba(9, 6, 210, 0) 65%, #7e0202 84%);
  text-align: center;
}

.neon img {
  text-align: center;
  height: 30%;
  width: 60%;
}

#rei .fondo {
  background-image: url("IMG/reiAngel.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
}

#rei .padre {
  color: black;
  font-size: 24px;
  font-weight: bold;
  padding: 1px;
  margin: 1px;
  font-family: 'Crete Round', serif;
  text-align: center;
}

#rei .padre .padre__encabezado:hover {
  color: white;
}

#rei .padre .padre__textos:hover {
  color: lightblue;
}

#asuka .fondo {
  background-image: url("IMG/asukaSohryu_fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#asuka .padre {
  color: black;
  font-size: 24px;
  padding: 1px;
  margin: 1px;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

#asuka .padre .padre__encabezado:hover {
  color: white;
}

#asuka .padre .padre__textos:hover {
  color: red;
}

#shinji .fondo {
  background-image: url("IMG/ShinjiIkari_fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#shinji .padre {
  color: black;
  font-size: 24px;
  padding: 1px;
  margin: 1px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

#shinji .padre .padre__encabezado:hover {
  color: white;
}

#shinji .padre .padre__textos:hover {
  color: lightblue;
}

#kaworu .fondo {
  background-image: url("IMG/KaworuNagisa_fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#kaworu .padre {
  color: black;
  padding: 1px;
  margin: 1px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#kaworu .padre .padre__encabezado:hover {
  color: white;
}

#kaworu .padre .padre__textos:hover {
  color: white;
}

#misato .fondo {
  background-image: url("IMG/MisatoKatsugari_fondo.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
}

#misato .padre {
  color: black;
  padding: 1px;
  margin: 1px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

#misato .padre .padre__encabezado:hover {
  color: white;
}

#misato .padre .padre__textos:hover {
  color: white;
}

#ritsuko .fondo {
  background-image: url("IMG/RitsukoAkagi_fondo.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#ritsuko .padre {
  color: black;
  font-size: 24px;
  padding: 1px;
  margin: 1px;
  font-weight: bold;
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
}

#ritsuko .padre .padre__encabezado:hover {
  color: white;
}

#ritsuko .padre .padre__textos:hover {
  color: yellow;
}

#kaji .fondo {
  background-image: url("IMG/RyojiKaji_fondo.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#kaji .padre {
  color: black;
  font-size: 24px;
  padding: 1px;
  margin: 1px;
  font-weight: bold;
  font-family: 'Cuprum', sans-serif;
  text-align: center;
}

#kaji .padre .padre__encabezado:hover {
  color: white;
}

#kaji .padre .padre__textos:hover {
  color: blue;
}

#gendo .fondo {
  background-image: url("IMG/SEELE_fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#gendo .padre {
  color: white;
  font-size: 24px;
  padding: 1px;
  margin: 1px;
  text-align: center;
  font-family: 'Frank Ruhl Libre', serif;
}

.flex {
  display: flex;
  padding: 10%;
  flex-wrap: wrap;
}

.flex .flex div {
  width: 3%;
  margin: 6%;
}

.responsive {
  width: 100%;
  max-width: 100%;
  margin: auto auto;
}

.detalles {
  padding: 30px;
}

.detalles .detalles__transition {
  transform: scale(1);
}

.detalles .detalles__transition:hover {
  transform: scale(1.1);
  transition: all 500ms ease-out;
}

.detalles .detalles__transform:hover {
  transform: scale(1.1);
}

.center {
  text-align: center;
}

img {
  height: 170px;
  width: 270px;
}

.inicio {
  font-size: 20px;
  color: lightblue;
  padding: 5px;
  margin: 10px;
  text-align: right;
  text-transform: uppercase;
}

.inicio:hover {
  color: white;
  border: 5px dashed white;
}

a {
  font-size: 20px;
  color: white;
  padding: 5px;
  margin: 10px;
  text-align: right;
  text-transform: uppercase;
}

a:hover {
  font-size: 24px;
}

aside {
  text-align: right;
}

section {
  text-align: left;
}

header {
  text-align: center;
}

button {
  background-color: none;
  border: none;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

button:hover {
  text-align: center;
  color: white;
  transition: all 500ms ease-in;
  font-weight: bolder;
  background: #2225c3;
  background: linear-gradient(0deg, #2225c3 0%, #7b13db 50%, #fd2d35 100%);
}

input {
  background-color: none;
  border: none;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

input:hover {
  text-align: center;
  color: white;
  text-transform: uppercase;
  transition: all 500ms ease-in;
  font-weight: bolder;
  background: #2225c3;
  background: linear-gradient(0deg, #2225c3 0%, #7b13db 50%, #fd2d35 100%);
}

.misato {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
  color: #17a2b8;
}

.misato .misato__fondo {
  background-image: url("IMG/Misato-.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 80%;
  height: 90%;
  border-radius: 25px;
  text-align: center;
  padding: 22px;
}

.misato .misato__titulo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Bree Serif', serif;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-style: italic;
  text-transform: uppercase;
}

.misato .misato__titulo .misato__titulo__info {
  font-size: 18px;
  text-align: center;
}

.ritsuko {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
  color: #d39e00;
}

.ritsuko .ritsuko__fondo {
  background-image: url("IMG/Ritsuko-.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 80%;
  height: 90%;
  border-radius: 25px;
  text-align: center;
  padding: 22px;
}

.ritsuko .ritsuko__titulo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-style: italic;
  text-transform: uppercase;
}

.ritsuko .ritsuko__titulo .ritsuko__titulo__info {
  font-size: 18px;
  text-align: left;
}

.kaji {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
  color: #04468f;
}

.kaji .kaji__fondo {
  background-image: url("IMG/ryojiKaji-.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 80%;
  height: 90%;
  border-radius: 25px;
  text-align: center;
  padding: 22px;
}

.kaji .kaji__titulo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Cuprum', sans-serif;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-style: italic;
  text-transform: uppercase;
}

.kaji .kaji__titulo .kaji__titulo__info {
  font-size: 18px;
  text-align: right;
}

.gendo {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
  color: #ffffff;
}

.gendo .gendo__fondo {
  background-image: url("IMG/gendoIkari-.gif");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 80%;
  height: 90%;
  border-radius: 25px;
  text-align: center;
  padding: 22px;
}

.gendo .gendo__titulo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Frank Ruhl Libre', serif;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-style: italic;
  text-transform: uppercase;
}

.gendo .gendo__titulo .gendo__titulo__info {
  font-size: 18px;
  text-align: center;
}

.rei {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
  color: #05a790;
}

.rei .rei__fondo {
  background-image: url("IMG/reiAyanami-.gif");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 80%;
  height: 90%;
  border-radius: 25px;
  text-align: center;
  padding: 22px;
}

.rei .rei__titulo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Crete Round', serif;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-style: italic;
  text-transform: uppercase;
}

.rei .rei__titulo .rei__titulo__info {
  font-size: 18px;
  text-align: left;
}

.asuka {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
  color: #ff2300;
}

.asuka .asuka__fondo {
  background-image: url("IMG/asukaLangley-.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 80%;
  height: 90%;
  border-radius: 25px;
  text-align: center;
  padding: 22px;
}

.asuka .asuka__titulo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-style: italic;
  text-transform: uppercase;
}

.asuka .asuka__titulo .asuka__titulo__info {
  font-size: 18px;
  text-align: right;
}

.shinji {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
  color: #7345ff;
}

.shinji .shinji__fondo {
  background-image: url("IMG/Shinji_Ikari-.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 80%;
  height: 90%;
  border-radius: 25px;
  text-align: center;
  padding: 22px;
}

.shinji .shinji__titulo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-style: italic;
  text-transform: uppercase;
}

.shinji .shinji__titulo .shinji__titulo__info {
  font-size: 18px;
  text-align: center;
}

.kaworu {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
  color: #00b128;
}

.kaworu .kaworu__fondo {
  background-image: url("IMG/kaworu-.gif");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 80%;
  height: 90%;
  border-radius: 25px;
  text-align: center;
  padding: 22px;
}

.kaworu .kaworu__titulo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-style: italic;
  text-transform: uppercase;
}

.kaworu .kaworu__titulo .kaworu__titulo__info {
  font-size: 18px;
  text-align: center;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.carga {
  width: 100%;
  height: 100vh;
  background-image: url("IMG/misatoB.gif");
  color: white;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s ease-out 1s;
}
