.flex{
	display: flex;
	padding: 10%;
	flex-wrap: wrap;
	.flex div{
		width: 3%;
		margin: 6%;
	}
}
.responsive{
	width: 100%;
	max-width: 100%;
	margin: auto auto;
}
.detalles{
	padding: 30px;
	.detalles__transition{
		transform: scale(1);
	}
	.detalles__transition:hover{
		transform: scale(1.1);
		transition: all 500ms ease-out;
	}
	.detalles__transform:hover{
		transform: scale(1.1)
	}	
}
.center{
	text-align: center;
}
img{
	height: 170px;
	width: 270px;
}
.inicio{
	font-size: 20px;
    color: lightblue;
    padding: 5px;
	margin: 10px;
	text-align: right;
	text-transform: uppercase;
}
.inicio:hover{
    color: white;
	border: 5px dashed white;
}
a{
	font-size: 20px;
    color: white;
    padding: 5px;
	margin: 10px;
	text-align: right;
	text-transform: uppercase;
}
a:hover{
	font-size: 24px;
}
aside{
	text-align: right;
}
section{
	text-align: left;
}
header{
	text-align: center;
}
button{
	background-color: none;
	border: none;
	text-align: center;
	padding: 15px 32px;	
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
}
button:hover{
	text-align: center;
	color: white;
	transition: all 500ms ease-in;
	font-weight: bolder;
	background: rgb(34,37,195);
	background: linear-gradient(0deg, rgba(34,37,195,1) 0%, rgba(123,19,219,1) 50%, rgba(253,45,53,1) 100%);
}
input{
	background-color: none;
	border: none;
	text-align: center;
	padding: 15px 32px;	
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
}
input:hover{
	text-align: center;
	color: white;
	text-transform: uppercase;
	transition: all 500ms ease-in;
	font-weight: bolder;
	background: rgb(34,37,195);
	background: linear-gradient(0deg, rgba(34,37,195,1) 0%, rgba(123,19,219,1) 50%, rgba(253,45,53,1) 100%);
}
.misato{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in;
	color: #17a2b8;
	.misato__fondo{
		background-image: url("IMG/Misato-.jpg");
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		width: 80%;
		height: 90%;
		border-radius: 25px;
		text-align: center;
		padding: 22px;
	}
	.misato__titulo{
		font-size: 24px;
		font-weight: bold;
		font-family: 'Bree Serif', serif;
		text-align: center;
		padding: 5px;
		margin: 10px;
		font-style: italic;
		text-transform: uppercase;
		.misato__titulo__info{
			font-size: 18px;
			text-align: center;
		}
	}
}
.ritsuko{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in;
	color: #d39e00;
	.ritsuko__fondo{
		background-image: url("IMG/Ritsuko-.jpg");
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		width: 80%;
		height: 90%;
		border-radius: 25px;
		text-align: center;
		padding: 22px;
	}
	.ritsuko__titulo{
		font-size: 24px;
		font-weight: bold;
		font-family: 'Hammersmith One', sans-serif;
		text-align: center;
		padding: 5px;
		margin: 10px;
		font-style: italic;
		text-transform: uppercase;
		.ritsuko__titulo__info{
			font-size: 18px;
			text-align: left;
		}
	}
}
.kaji{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in;
	color: #04468f;
	.kaji__fondo{
		background-image: url("IMG/ryojiKaji-.jpg");
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		width: 80%;
		height: 90%;
		border-radius: 25px;
		text-align: center;
		padding: 22px;
	}
	.kaji__titulo{
		font-size: 24px;
		font-weight: bold;
		font-family: 'Cuprum', sans-serif;
		text-align: center;
		padding: 5px;
		margin: 10px;
		font-style: italic;
		text-transform: uppercase;
		.kaji__titulo__info{
			font-size: 18px;
			text-align: right;
		}
	}
}
.gendo{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in;
	color: #ffffff;
	.gendo__fondo{
		background-image: url("IMG/gendoIkari-.gif");
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		width: 80%;
		height: 90%;
		border-radius: 25px;
		text-align: center;
		padding: 22px;
	}
	.gendo__titulo{
		font-size: 24px;
		font-weight: bold;
		font-family: 'Frank Ruhl Libre', serif;
		text-align: center;
		padding: 5px;
		margin: 10px;
		font-style: italic;
		text-transform: uppercase;
		.gendo__titulo__info{
			font-size: 18px;
			text-align: center;
		}
	}
}
.rei{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in;
	color: #05a790;
	.rei__fondo{
		background-image: url("IMG/reiAyanami-.gif");
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		width: 80%;
		height: 90%;
		border-radius: 25px;
		text-align: center;
		padding: 22px;
	}
	.rei__titulo{
		font-size: 24px;
		font-weight: bold;
		font-family: 'Crete Round', serif;
		text-align: center;
		padding: 5px;
		margin: 10px;
		font-style: italic;
		text-transform: uppercase;
		.rei__titulo__info{
			font-size: 18px;
			text-align: left;
		}
	}
}
.asuka{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in;
	color: #ff2300;
	.asuka__fondo{
		background-image: url("IMG/asukaLangley-.jpg");
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		width: 80%;
		height: 90%;
		border-radius: 25px;
		text-align: center;
		padding: 22px;
	}
	.asuka__titulo{
		font-size: 24px;
		font-weight: bold;
		font-family: 'Merriweather Sans', sans-serif;
		text-align: center;
		padding: 5px;
		margin: 10px;
		font-style: italic;
		text-transform: uppercase;
		.asuka__titulo__info{
			font-size: 18px;
			text-align: right;
		}
	}
}
.shinji{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in;
	color: #7345ff;
	.shinji__fondo{
		background-image: url("IMG/Shinji_Ikari-.jpg");
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		width: 80%;
		height: 90%;
		border-radius: 25px;
		text-align: center;
		padding: 22px;
	}
	.shinji__titulo{
		font-size: 24px;
		font-weight: bold;
		font-family: 'Kanit', sans-serif;
		text-align: center;
		padding: 5px;
		margin: 10px;
		font-style: italic;
		text-transform: uppercase;
		.shinji__titulo__info{
			font-size: 18px;
			text-align: center;
		}
	}
}
.kaworu{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in;
	color: #00b128;
	.kaworu__fondo{
		background-image: url("IMG/kaworu-.gif");
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		width: 80%;
		height: 90%;
		border-radius: 25px;
		text-align: center;
		padding: 22px;
	}
	.kaworu__titulo{
		font-size: 24px;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		padding: 5px;
		margin: 10px;
		font-style: italic;
		text-transform: uppercase;
		.kaworu__titulo__info{
			font-size: 18px;
			text-align: center;
		}
	}
}
.modal-active{
	visibility: visible;
	opacity: 1;
}
.carga{
    width: 100%;
    height: 100vh;
    background-image: url("IMG/misatoB.gif");
    color: white;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s ease-out 1s;
}