#rei{
	.fondo{
		background-image: url("IMG/reiAngel.jpg");	
		background-size: cover;
		background-position: center top;
		background-repeat: repeat;
		background-attachment: fixed;
	}
	.padre{
		color: black;
		font-size: 24px;
		font-weight: bold;
		padding: 1px;
  		margin: 1px;
		font-family: 'Crete Round', serif;
		text-align: center;
		.padre__encabezado:hover{
			color: white;
		}
		.padre__textos:hover{
			color: lightblue;
		}
	}
}
#asuka{
	.fondo{
		background-image: url("IMG/asukaSohryu_fondo.jpg");
		background-attachment: fixed;	
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.padre{
		color: black;
		font-size: 24px;
		padding: 1px;
  		margin: 1px;
		font-weight: bold;
		font-family: 'Merriweather Sans', sans-serif;
		text-align: center;
		.padre__encabezado:hover{
			color: white;
		}
		.padre__textos:hover{
			color: red;
		}
	}
}
#shinji{
	.fondo{
		background-image: url("IMG/ShinjiIkari_fondo.jpg");
		background-attachment: fixed;	
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}		
	.padre{
		color: black;
		font-size: 24px;
		padding: 1px;
  		margin: 1px;
		font-weight: bold;
		font-family: 'Kanit', sans-serif;
		text-align: center;
		.padre__encabezado:hover{
			color: white;
		}
		.padre__textos:hover{
			color: lightblue;
		}
	}
}
#kaworu{
	.fondo{
		background-image: url("IMG/KaworuNagisa_fondo.jpg");
		background-attachment: fixed;	
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.padre{
		color: black;
		padding: 1px;
  		margin: 1px;
		font-size: 24px;
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		.padre__encabezado:hover{
			color: white;
		}
		.padre__textos:hover{
			color: white;
		}
	}
}